.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 65%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid #c4c4c4;

  background-color: #0c0c0c;

  @media (max-width: 1056px) {
    width: 90%;
    padding: 1rem;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    margin-bottom: 1rem;
  }
}

.links {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 70px;
  width: 70px;
  padding: 0.2rem;

  cursor: pointer;
  border-radius: 2rem;
}

.welcomeSection {
  display: flex;
  width: 100%;
  margin-top: 0.5px;
  padding: 0.5rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.separacaoWelcome {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.parteTextual {
  display: flex;
  max-width: 70%;

  @media (max-width: 900px) {
    max-width: 100%;
    flex-direction: column;
  }
}

.texto {
  padding: 1rem;
  h1 {
    color: #c4c4c4;
    font-size: 55px;

    @media (max-width: 900px) {
      font-size: 50px;
    }
  }

  p {
    color: #c4c4c4;
    font-size: 20px;
  }
}

footer {
  padding: 0.2rem;

  a {
    color: #c4c4c4;
    font-size: 20px;
  }
}

.label {
  color: #c4c4c4;
  font-size: 20px;
  cursor: pointer;
}
